@media (max-width: 1456px) {
.footer-copyright {
   padding-right: 120px;
}
}

@media (max-width: 1200px) {
    .header {
        padding-bottom: 300px;
    }

    .hero-title {
        font-size: 68px;
    }

    .article-text {
        padding-left: 50px;
        max-width: 50%;
    }

    .article-text::before {
        width: 140px;
        height: 140px;
        font-size: 140px;
        top: -67px;
    }

    .article-img {
        width: 50%;
    }

    .footer-nav + .footer-nav {
        margin-left: 100px;
    }
}

@media (max-width: 920px) {
   .footer-row-space-between {
    flex-direction: column-reverse;
   }

   .footer-nav-wrapper {
    margin-bottom: 80px;
   }

}

@media (max-width: 840px) {
    .header {
        padding-bottom: 300px;
    }

    .nav, .account {
        display: none;
    }

    .nav-wrapper {
        margin-bottom: 90px;
    }

    .nav-button {
        display: block;
    }

    .nav-mob-active {
        display: flex;
    } 

    .mobile-nav-active {
        display: block;
    }

    .hero-title {
        font-size: 38px;
    }


    .article-text {
       max-width: 100%;
    }

    .article-title {
        font-size: 48px;
    }

    .article-img {
        padding-top: 15px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .header {
        padding-bottom: 100px;
    }

    .nav-mob li:first-child {
        padding-top: 100px;
        margin-bottom: 15px;
    }

    .account-mob {
        margin-top: 150px;
    }

    .footer {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
}
        
}